DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/ReferenceService/ReferenceService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" />
  <xs:complexType name="WebClientInformation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Locale" nillable="true" type="tns:WebLocale" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="tns:WebRole" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebClientInformation" nillable="true" type="tns:WebClientInformation" />
  <xs:complexType name="WebData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataFields" nillable="true" type="tns:ArrayOfWebDataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebData" nillable="true" type="tns:WebData" />
  <xs:complexType name="ArrayOfWebDataField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebDataField" nillable="true" type="tns:WebDataField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebDataField" nillable="true" type="tns:ArrayOfWebDataField" />
  <xs:complexType name="WebDataField">
    <xs:sequence>
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:WebDataType" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebDataField" nillable="true" type="tns:WebDataField" />
  <xs:simpleType name="WebDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="DateTime" />
      <xs:enumeration value="Float64" />
      <xs:enumeration value="Int32" />
      <xs:enumeration value="Int64" />
      <xs:enumeration value="String" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WebDataType" nillable="true" type="tns:WebDataType" />
  <xs:complexType name="WebLocale">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ISOCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NativeName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebLocale" nillable="true" type="tns:WebLocale" />
  <xs:complexType name="WebRole">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdministrationRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="Authorities" nillable="true" type="tns:ArrayOfWebAuthority" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActivationRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAdministrationRoleIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOrganizationIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUserAdministrationRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUserAdministrationRoleIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="MessageTypeId" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationId" type="xs:int" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserAdministrationRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="ValidFromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ValidToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebRole" nillable="true" type="tns:WebRole" />
  <xs:complexType name="ArrayOfWebAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebAuthority" nillable="true" type="tns:WebAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebAuthority" nillable="true" type="tns:ArrayOfWebAuthority" />
  <xs:complexType name="WebAuthority">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ActionGUIDs" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="AdministrationRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
          <xs:element minOccurs="0" name="AuthorityDataType" nillable="true" type="tns:WebAuthorityDataType" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" minOccurs="0" name="AuthorityType" type="q2:AuthorityType" />
          <xs:element minOccurs="0" name="CreatePermission" type="xs:boolean" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DeletePermission" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FactorGUIDs" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsAdministrationRoleIdSpecified" type="xs:boolean" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LocalityGUIDs" nillable="true" type="q4:ArrayOfstring" />
          <xs:element minOccurs="0" name="MaxProtectionLevel" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Obligation" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectGUIDs" nillable="true" type="q5:ArrayOfstring" />
          <xs:element minOccurs="0" name="ReadPermission" type="xs:boolean" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RegionGUIDs" nillable="true" type="q6:ArrayOfstring" />
          <xs:element minOccurs="0" name="RoleId" type="xs:int" />
          <xs:element minOccurs="0" name="ShowNonPublicData" type="xs:boolean" />
          <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TaxonGUIDs" nillable="true" type="q7:ArrayOfstring" />
          <xs:element minOccurs="0" name="UpdatePermission" type="xs:boolean" />
          <xs:element minOccurs="0" name="ValidFromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ValidToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebAuthority" nillable="true" type="tns:WebAuthority" />
  <xs:complexType name="WebAuthorityDataType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebAuthorityDataType" nillable="true" type="tns:WebAuthorityDataType" />
  <xs:complexType name="WebReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsModifiedDateSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsYearSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebReference" nillable="true" type="tns:WebReference" />
  <xs:complexType name="WebReferenceRelation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="ReferenceId" type="xs:int" />
          <xs:element minOccurs="0" name="RelatedObjectGuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebReferenceRelation" nillable="true" type="tns:WebReferenceRelation" />
  <xs:simpleType name="LogType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Information" />
      <xs:enumeration value="Security" />
      <xs:enumeration value="SpeciesObservationStatistic" />
      <xs:enumeration value="SpeciesObservationUpdate" />
      <xs:enumeration value="SpeciesObservationArtportalenUpdate" />
      <xs:enumeration value="Trace" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogType" nillable="true" type="tns:LogType" />
  <xs:complexType name="ArrayOfWebLogRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebLogRow" nillable="true" type="tns:WebLogRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebLogRow" nillable="true" type="tns:ArrayOfWebLogRow" />
  <xs:complexType name="WebLogRow">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebLogRow" nillable="true" type="tns:WebLogRow" />
  <xs:complexType name="ArrayOfWebReferenceRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebReferenceRelation" nillable="true" type="tns:WebReferenceRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebReferenceRelation" nillable="true" type="tns:ArrayOfWebReferenceRelation" />
  <xs:complexType name="ArrayOfWebReferenceRelationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebReferenceRelationType" nillable="true" type="tns:WebReferenceRelationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebReferenceRelationType" nillable="true" type="tns:ArrayOfWebReferenceRelationType" />
  <xs:complexType name="WebReferenceRelationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebReferenceRelationType" nillable="true" type="tns:WebReferenceRelationType" />
  <xs:complexType name="ArrayOfWebReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebReference" nillable="true" type="tns:WebReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebReference" nillable="true" type="tns:ArrayOfWebReference" />
  <xs:complexType name="WebReferenceSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" minOccurs="0" name="LogicalOperator" type="q8:LogicalOperator" />
          <xs:element minOccurs="0" name="ModifiedBySearchString" nillable="true" type="tns:WebStringSearchCriteria" />
          <xs:element minOccurs="0" name="ModifiedDateTime" nillable="true" type="tns:WebDateTimeSearchCriteria" />
          <xs:element minOccurs="0" name="NameSearchString" nillable="true" type="tns:WebStringSearchCriteria" />
          <xs:element minOccurs="0" name="TitleSearchString" nillable="true" type="tns:WebStringSearchCriteria" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Years" nillable="true" type="q9:ArrayOfint" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebReferenceSearchCriteria" nillable="true" type="tns:WebReferenceSearchCriteria" />
  <xs:complexType name="WebStringSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" minOccurs="0" name="CompareOperators" nillable="true" type="q10:ArrayOfStringCompareOperator" />
          <xs:element minOccurs="0" name="SearchString" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebStringSearchCriteria" nillable="true" type="tns:WebStringSearchCriteria" />
  <xs:complexType name="WebDateTimeSearchCriteria">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Accuracy" nillable="true" type="tns:WebTimeSpan" />
          <xs:element minOccurs="0" name="Begin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="End" type="xs:dateTime" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" minOccurs="0" name="Operator" type="q11:CompareOperator" />
          <xs:element minOccurs="0" name="PartOfYear" nillable="true" type="tns:ArrayOfWebDateTimeInterval" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebDateTimeSearchCriteria" nillable="true" type="tns:WebDateTimeSearchCriteria" />
  <xs:complexType name="WebTimeSpan">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Days" type="xs:int" />
          <xs:element minOccurs="0" name="Hours" type="xs:int" />
          <xs:element minOccurs="0" name="IsDaysSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsHoursSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMinutesSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNanoSecondsSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSecondsSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="Minutes" type="xs:int" />
          <xs:element minOccurs="0" name="NanoSeconds" type="xs:long" />
          <xs:element minOccurs="0" name="Seconds" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebTimeSpan" nillable="true" type="tns:WebTimeSpan" />
  <xs:complexType name="ArrayOfWebDateTimeInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebDateTimeInterval" nillable="true" type="tns:WebDateTimeInterval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebDateTimeInterval" nillable="true" type="tns:ArrayOfWebDateTimeInterval" />
  <xs:complexType name="WebDateTimeInterval">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Begin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="End" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsDayOfYearSpecified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebDateTimeInterval" nillable="true" type="tns:WebDateTimeInterval" />
  <xs:complexType name="ArrayOfWebResourceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebResourceStatus" nillable="true" type="tns:WebResourceStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebResourceStatus" nillable="true" type="tns:ArrayOfWebResourceStatus" />
  <xs:complexType name="WebResourceStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceType" nillable="true" type="tns:WebResourceType" />
          <xs:element minOccurs="0" name="Status" type="xs:boolean" />
          <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResourceStatus" nillable="true" type="tns:WebResourceStatus" />
  <xs:complexType name="WebResourceType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebResourceType" nillable="true" type="tns:WebResourceType" />
  <xs:complexType name="WebLoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="Locale" nillable="true" type="tns:WebLocale" />
          <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfWebRole" />
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="tns:WebUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebLoginResponse" nillable="true" type="tns:WebLoginResponse" />
  <xs:complexType name="ArrayOfWebRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebRole" nillable="true" type="tns:WebRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebRole" nillable="true" type="tns:ArrayOfWebRole" />
  <xs:complexType name="WebUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebData">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivationKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AdministrationRoleId" type="xs:int" />
          <xs:element minOccurs="0" name="ApplicationId" type="xs:int" />
          <xs:element minOccurs="0" name="AuthenticationType" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedBy" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="IsAccountActivated" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsAdministrationRoleIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsApplicationIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPersonIdSpecified" type="xs:boolean" />
          <xs:element minOccurs="0" name="ModifiedBy" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PersonId" type="xs:int" />
          <xs:element minOccurs="0" name="ShowEmailAddress" type="xs:boolean" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" minOccurs="0" name="Type" type="q12:UserType" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidFromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ValidToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebUser" nillable="true" type="tns:WebUser" />
</xs:schema>