DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/ReferenceService/ReferenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:WebServices.ArtDatabanken.slu.se" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReferenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ReferenceServiceSOAP11Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ReferenceServiceBinaryEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ReferenceServiceSOAP12Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:WebServices.ArtDatabanken.slu.se" location="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ReferenceServiceSOAP11Endpoint" type="i0:IReferenceService">
    <wsp:PolicyReference URI="#ReferenceServiceSOAP11Endpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReferenceRelation">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReferenceRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReferenceRelation">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteReferenceRelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationById">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationsByRelatedObjectGuid">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationsByRelatedObjectGuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesByIds">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/UpdateReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReferenceServiceBinaryEndpoint" type="i0:IReferenceService">
    <wsp:PolicyReference URI="#ReferenceServiceBinaryEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReferenceRelation">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReferenceRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReferenceRelation">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteReferenceRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationsByRelatedObjectGuid">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationsByRelatedObjectGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/UpdateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReferenceServiceSOAP12Endpoint" type="i0:IReferenceService">
    <wsp:PolicyReference URI="#ReferenceServiceSOAP12Endpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReferenceRelation">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/CreateReferenceRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReferenceRelation">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteReferenceRelation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationsByRelatedObjectGuid">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationsByRelatedObjectGuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferenceRelationTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferenceRelationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetReferencesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StartTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IReferenceService/UpdateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReferenceService">
    <wsdl:port name="ReferenceServiceSOAP11Endpoint" binding="tns:ReferenceServiceSOAP11Endpoint">
      <soap:address location="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc" />
    </wsdl:port>
    <wsdl:port name="ReferenceServiceBinaryEndpoint" binding="tns:ReferenceServiceBinaryEndpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/Fast" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/Fast</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="ReferenceServiceSOAP12Endpoint" binding="tns:ReferenceServiceSOAP12Endpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/SOAP12" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/ReferenceService/ReferenceService.svc/SOAP12</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>