DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/GeoReferenceService/GeoReferenceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:WebServices.ArtDatabanken.slu.se" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GeoReferenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="GeoReferenceServiceSOAP11Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="GeoReferenceServiceBinaryEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="GeoReferenceServiceSOAP12Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:WebServices.ArtDatabanken.slu.se" location="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="GeoReferenceServiceSOAP11Endpoint" type="i0:IGeoReferenceService">
    <wsp:PolicyReference URI="#GeoReferenceServiceSOAP11Endpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByNameSearchString">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetCitiesByNameSearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedBoundingBox">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedBoundingBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedLinearRings">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedLinearRings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedMultiPolygons">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedMultiPolygons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPoints">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPolygons">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPolygons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionCategories">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByCategories">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByGUIDs">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByGUIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByIds">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByGUIDs">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByGUIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByIds">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoReferenceServiceBinaryEndpoint" type="i0:IGeoReferenceService">
    <wsp:PolicyReference URI="#GeoReferenceServiceBinaryEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByNameSearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetCitiesByNameSearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedBoundingBox">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedBoundingBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedLinearRings">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedLinearRings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedMultiPolygons">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedMultiPolygons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPoints">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPolygons">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPolygons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByGUIDs">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByGUIDs">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeoReferenceServiceSOAP12Endpoint" type="i0:IGeoReferenceService">
    <wsp:PolicyReference URI="#GeoReferenceServiceSOAP12Endpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesByNameSearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetCitiesByNameSearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedBoundingBox">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedBoundingBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedLinearRings">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedLinearRings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedMultiPolygons">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedMultiPolygons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPoints">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConvertedPolygons">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetConvertedPolygons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByGUIDs">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByGUIDs">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByGUIDs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionsGeographyByIds">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionsGeographyByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetRegionTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IGeoReferenceService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeoReferenceService">
    <wsdl:port name="GeoReferenceServiceSOAP11Endpoint" binding="tns:GeoReferenceServiceSOAP11Endpoint">
      <soap:address location="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc" />
    </wsdl:port>
    <wsdl:port name="GeoReferenceServiceBinaryEndpoint" binding="tns:GeoReferenceServiceBinaryEndpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/Fast" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/Fast</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="GeoReferenceServiceSOAP12Endpoint" binding="tns:GeoReferenceServiceSOAP12Endpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/SOAP12" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/GeoReferenceService/GeoReferenceService.svc/SOAP12</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>