DataAccess/ArtDatabanken.Data/ArtDatabanken.Data/Service References/WebService/ArtDatabankenService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:WebServices.ArtDatabanken.slu.se" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArtDatabankenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ArtDatabankenServiceSOAP11Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ArtDatabankenServiceBinaryEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="ArtDatabankenServiceSOAP12Endpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:WebServices.ArtDatabanken.slu.se" location="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="ArtDatabankenServiceSOAP11Endpoint" type="i0:IArtDatabankenService">
    <wsp:PolicyReference URI="#ArtDatabankenServiceSOAP11Endpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CreateReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirdNestActivities">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetBirdNestActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesBySearchString">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCitiesBySearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounties">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCounties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabases">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseUpdate">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabaseUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndangeredLists">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetEndangeredLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorDataTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorDataTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldEnums">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldEnums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorOrigins">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorOrigins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactors">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorsBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTrees">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTrees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTreesBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorUpdateModes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorUpdateModes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxa">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxaByTaxonId">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxaByTaxonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualCategories">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetIndividualCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriods">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriodTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchString">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferencesBySearchString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactQualities">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactQualities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsById">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByIdentifier">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByIdentifier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByUserParameterSelection">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByUserParameterSelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationChange">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationCountBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationCountBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsById">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByHostTaxonId">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByHostTaxonId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaById">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByOrganismOrRedlist">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByOrganismOrRedlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByQuery">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySpeciesObservations">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaCountBySpeciesObservations">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaCountBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonById">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonCountyOccurence">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonCountyOccurence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNames">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNamesBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNamesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameUseTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameUseTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTreesBySearchCriteria">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTypes">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StopTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciesFacts">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateSpeciesFacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDyntaxaSpeciesFacts">
      <soap:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateDyntaxaSpeciesFacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArtDatabankenServiceBinaryEndpoint" type="i0:IArtDatabankenService">
    <wsp:PolicyReference URI="#ArtDatabankenServiceBinaryEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CreateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirdNestActivities">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetBirdNestActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesBySearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCitiesBySearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounties">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCounties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabases">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseUpdate">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabaseUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndangeredLists">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetEndangeredLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorDataTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorDataTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldEnums">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldEnums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorOrigins">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorOrigins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactors">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTrees">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTrees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTreesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorUpdateModes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorUpdateModes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxa">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxaByTaxonId">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxaByTaxonId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetIndividualCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriods">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriodTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferencesBySearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactQualities">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactQualities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByIdentifier">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByIdentifier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByUserParameterSelection">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByUserParameterSelection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationChange">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationCountBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationCountBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByHostTaxonId">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByHostTaxonId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByOrganismOrRedlist">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByOrganismOrRedlist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByQuery">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySpeciesObservations">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaCountBySpeciesObservations">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaCountBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonCountyOccurence">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonCountyOccurence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNames">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNamesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNamesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameUseTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameUseTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTreesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciesFacts">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateSpeciesFacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDyntaxaSpeciesFacts">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateDyntaxaSpeciesFacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArtDatabankenServiceSOAP12Endpoint" type="i0:IArtDatabankenService">
    <wsp:PolicyReference URI="#ArtDatabankenServiceSOAP12Endpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CommitTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/CreateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/DeleteTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBirdNestActivities">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetBirdNestActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitiesBySearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCitiesBySearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounties">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetCounties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabases">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabases" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseUpdate">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetDatabaseUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndangeredLists">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetEndangeredLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorDataTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorDataTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldEnums">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldEnums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorFieldTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorFieldTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorOrigins">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorOrigins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactors">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTrees">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTrees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorTreesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFactorUpdateModes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetFactorUpdateModes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxa">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHostTaxaByTaxonId">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetHostTaxaByTaxonId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndividualCategories">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetIndividualCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLog">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriods">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPeriodTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetPeriodTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProvinces">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferences">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencesBySearchString">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetReferencesBySearchString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactQualities">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactQualities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByIdentifier">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByIdentifier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesFactsByUserParameterSelection">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesFactsByUserParameterSelection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationChange">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationCountBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationCountBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationsBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetSpeciesObservationsBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByHostTaxonId">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByHostTaxonId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByOrganismOrRedlist">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByOrganismOrRedlist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaByQuery">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaByQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaBySpeciesObservations">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxaCountBySpeciesObservations">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxaCountBySpeciesObservations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonById">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonCountyOccurence">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonCountyOccurence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNames">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNamesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNamesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonNameUseTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonNameUseTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTreesBySearchCriteria">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTreesBySearchCriteria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaxonTypes">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetTaxonTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RollbackTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/RollbackTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTransaction">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StartTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTrace">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/StopTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReference">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateReference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciesFacts">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateSpeciesFacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDyntaxaSpeciesFacts">
      <soap12:operation soapAction="urn:WebServices.ArtDatabanken.slu.se/IArtDatabankenService/UpdateDyntaxaSpeciesFacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArtDatabankenService">
    <wsdl:port name="ArtDatabankenServiceSOAP11Endpoint" binding="tns:ArtDatabankenServiceSOAP11Endpoint">
      <soap:address location="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc" />
    </wsdl:port>
    <wsdl:port name="ArtDatabankenServiceBinaryEndpoint" binding="tns:ArtDatabankenServiceBinaryEndpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/Fast" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/Fast</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="ArtDatabankenServiceSOAP12Endpoint" binding="tns:ArtDatabankenServiceSOAP12Endpoint">
      <soap12:address location="https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/SOAP12" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://moneses-dev.artdata.slu.se/ArtDatabankenService/ArtDatabankenService.svc/SOAP12</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>