DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/WramService/WramSpeciesObservationChangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WramSpeciesObservationChangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" />
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" />
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://130.239.46.38:82/WramSpeciesDataChangeService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LifeWatchInterfaceAPI" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsSpecies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeciesObservationChangeAsSpecies" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsSpecies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeciesObservationChangeAsSpeciesResponse" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsGbif_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeciesObservationChangeAsGbif" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsGbif_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeciesObservationChangeAsGbifResponse" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_AreYouThere_InputMessage">
    <wsdl:part name="parameters" element="tns:AreYouThere" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_AreYouThere_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreYouThereResponse" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetServiceVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersion" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetServiceVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetServiceVersionAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersionAPI" />
  </wsdl:message>
  <wsdl:message name="IWramSpeciesDataChangeService_GetServiceVersionAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceVersionAPIResponse" />
  </wsdl:message>
  <wsdl:portType name="IWramSpeciesDataChangeService">
    <wsdl:operation name="GetSpeciesObservationChangeAsSpecies">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsSpecies" message="tns:IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsSpecies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsSpeciesResponse" message="tns:IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsSpecies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationChangeAsGbif">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsGbif" message="tns:IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsGbif_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsGbifResponse" message="tns:IWramSpeciesDataChangeService_GetSpeciesObservationChangeAsGbif_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreYouThere">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSpeciesObservation/AreYouThere" message="tns:IWramSpeciesDataChangeService_AreYouThere_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSpeciesObservation/AreYouThereResponse" message="tns:IWramSpeciesDataChangeService_AreYouThere_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetServiceVersion" message="tns:IWramSpeciesDataChangeService_GetServiceVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetServiceVersionResponse" message="tns:IWramSpeciesDataChangeService_GetServiceVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersionAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetServiceVersionAPI" message="tns:IWramSpeciesDataChangeService_GetServiceVersionAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSpeciesObservation/GetServiceVersionAPIResponse" message="tns:IWramSpeciesDataChangeService_GetServiceVersionAPI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWramSpeciesDataChangeService" type="tns:IWramSpeciesDataChangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSpeciesObservationChangeAsSpecies">
      <soap:operation soapAction="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsSpecies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeciesObservationChangeAsGbif">
      <soap:operation soapAction="http://tempuri.org/IWebSpeciesObservation/GetSpeciesObservationChangeAsGbif" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreYouThere">
      <soap:operation soapAction="http://tempuri.org/IWebSpeciesObservation/AreYouThere" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersion">
      <soap:operation soapAction="http://tempuri.org/IWebSpeciesObservation/GetServiceVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceVersionAPI">
      <soap:operation soapAction="http://tempuri.org/IWebSpeciesObservation/GetServiceVersionAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WramSpeciesObservationChangeService">
    <wsdl:port name="BasicHttpBinding_IWramSpeciesDataChangeService" binding="tns:BasicHttpBinding_IWramSpeciesDataChangeService">
      <soap:address location="http://130.239.46.38:82/WramSpeciesDataChangeService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>