DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/TaxonService/TaxonService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://moneses-dev.artdata.slu.se/TaxonService/TaxonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="AuthorityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DataType" />
      <xs:enumeration value="Application" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthorityType" nillable="true" type="tns:AuthorityType" />
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Application" />
      <xs:enumeration value="Person" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:simpleType name="TaxonSearchScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoScope" />
      <xs:enumeration value="AllChildTaxa" />
      <xs:enumeration value="AllParentTaxa" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxonSearchScope" nillable="true" type="tns:TaxonSearchScope" />
  <xs:complexType name="ArrayOfStringCompareOperator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StringCompareOperator" type="tns:StringCompareOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStringCompareOperator" nillable="true" type="tns:ArrayOfStringCompareOperator" />
  <xs:simpleType name="StringCompareOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BeginsWith" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="Equal" />
      <xs:enumeration value="Like">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotEqual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">11</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StringCompareOperator" nillable="true" type="tns:StringCompareOperator" />
  <xs:simpleType name="TaxonRelationSearchScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllChildRelations" />
      <xs:enumeration value="AllParentRelations" />
      <xs:enumeration value="NearestChildRelations" />
      <xs:enumeration value="NearestParentRelations" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxonRelationSearchScope" nillable="true" type="tns:TaxonRelationSearchScope" />
  <xs:simpleType name="TaxonTreeSearchScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllChildTaxa" />
      <xs:enumeration value="AllParentTaxa" />
      <xs:enumeration value="NearestChildTaxa" />
      <xs:enumeration value="NearestParentTaxa" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TaxonTreeSearchScope" nillable="true" type="tns:TaxonTreeSearchScope" />
</xs:schema>