DataAccess/ArtDatabanken.WebService.Proxy/ArtDatabanken.WebService.Proxy/Service References/DyntaxaInternalService/DyntaxaInternalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:WebServices.ArtDatabanken.slu.se" elementFormDefault="qualified" targetNamespace="urn:WebServices.ArtDatabanken.slu.se" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://moneses-dev.artdata.slu.se/TaxonService/DyntaxaInternalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" />
  <xs:element name="GetDyntaxaRevisionSpeciesFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q1:WebClientInformation" />
        <xs:element minOccurs="0" name="factorId" type="xs:int" />
        <xs:element minOccurs="0" name="taxonId" type="xs:int" />
        <xs:element minOccurs="0" name="taxonRevisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyntaxaRevisionSpeciesFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetDyntaxaRevisionSpeciesFactResult" nillable="true" type="q2:WebDyntaxaRevisionSpeciesFact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDyntaxaRevisionSpeciesFacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q3:WebClientInformation" />
        <xs:element minOccurs="0" name="taxonRevisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDyntaxaRevisionSpeciesFactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetAllDyntaxaRevisionSpeciesFactsResult" nillable="true" type="q4:ArrayOfWebDyntaxaRevisionSpeciesFact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDyntaxaRevisionSpeciesFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q5:WebClientInformation" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="dyntaxaRevisionSpeciesFact" nillable="true" type="q6:WebDyntaxaRevisionSpeciesFact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDyntaxaRevisionSpeciesFactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="CreateDyntaxaRevisionSpeciesFactResult" nillable="true" type="q7:WebDyntaxaRevisionSpeciesFact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompleteRevisionEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q8:WebClientInformation" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="taxonRevisionEvent" nillable="true" type="q9:WebTaxonRevisionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompleteRevisionEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="CreateCompleteRevisionEventResult" nillable="true" type="q10:WebTaxonRevisionEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isActivationRequired" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="LoginResult" nillable="true" type="q11:WebLoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q12:WebClientInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q13:WebClientInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetStatusResult" nillable="true" type="q14:ArrayOfWebResourceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q15:WebClientInformation" />
        <xs:element minOccurs="0" name="timeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q16:WebClientInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q17:WebClientInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionSpeciesFactPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q18:WebClientInformation" />
        <xs:element minOccurs="0" name="revisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionSpeciesFactPublishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRevisionSpeciesFactPublishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyntaxaRevisionReferenceRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q19:WebClientInformation" />
        <xs:element minOccurs="0" name="revisionId" type="xs:int" />
        <xs:element minOccurs="0" name="relatedObjectGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyntaxaRevisionReferenceRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetDyntaxaRevisionReferenceRelationResult" nillable="true" type="q20:ArrayOfWebDyntaxaRevisionReferenceRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDyntaxaRevisionReferenceRelations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q21:WebClientInformation" />
        <xs:element minOccurs="0" name="revisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDyntaxaRevisionReferenceRelationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetAllDyntaxaRevisionReferenceRelationsResult" nillable="true" type="q22:ArrayOfWebDyntaxaRevisionReferenceRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyntaxaRevisionReferenceRelationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q23:WebClientInformation" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDyntaxaRevisionReferenceRelationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="GetDyntaxaRevisionReferenceRelationByIdResult" nillable="true" type="q24:WebDyntaxaRevisionReferenceRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionReferenceRelationPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q25:WebClientInformation" />
        <xs:element minOccurs="0" name="revisionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionReferenceRelationPublishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRevisionReferenceRelationPublishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDyntaxaRevisionReferenceRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="clientInformation" nillable="true" type="q26:WebClientInformation" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="dyntaxaRevisionReferenceRelation" nillable="true" type="q27:WebDyntaxaRevisionReferenceRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDyntaxaRevisionReferenceRelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ArtDatabanken.WebService.Data" minOccurs="0" name="CreateDyntaxaRevisionReferenceRelationResult" nillable="true" type="q28:WebDyntaxaRevisionReferenceRelation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>